header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.sidebar-menu {
  display: block;
  margin: 0;
  padding: 10px 15px;
  list-style: none;
}
.sidebar-menu-item {
  display: inline-block;
}
.sidebar-menu-link {
  display: block;
  color: cadetblue;
  text-decoration: none;
  width: 120px;
  text-align: center;
  border-right: 1px solid #ddd;
}
.sidebar-menu-item:last-child .sidebar-menu-link {
  border-right: none;
}
.content {
  margin-top: 60px;
}
.loading-ui {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}